.spinner {
  width: 50px;
  height: 50px;
}

.spinner:after {
  content: " ";
  position: fixed;
  display: block;
  width: 32px;
  height: 32px;
  left: 50%;
  margin-left: -12px;
  margin-top: 50px;
  border-radius: 50%;
  border: 6px solid rgb(75, 80, 101);
  border-color: rgba(75, 80, 101, 0.5) transparent rgba(75, 80, 101, 0.5)
    transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
