@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(120, 156, 255);
  margin: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  float: left;
}

h1 {
  font-size: 50px;
  font-family: "Cute Font", cursive;
  color: rgb(70, 94, 221);
}

table {
  width: 80%;
  margin: 50px;
}

th {
  background-color: rgb(193, 228, 248);
  color: white;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
